{% extends "base.html" %}

{% block content %}
<h1>Chronos Report</h1>
<h3>Click "Shift Details" to view the shifts of that day in detail.</h3>
<div id="calendar">
    <fieldset id="calendar_key">
        <legend>Quick info:</legend>
            <p>Color key:</p>
            <div class="today key">Today</div>
            <hr/>
            <div class="first key">1st pay period</div>
            <div class="first filled key">Filled shift in 1st pay period</div>
            <hr/>
            <div class="second key">2nd pay period</div>
            <div class="second filled key">Filled shift in 2nd pay period</div>
    </fieldset>
    
    {{ calendar }}

    <div id="calendar_nav">
        <a class="calendar_nav_link" href="{% url Report-Monthly prev_date.year prev_date.month %}">&#060;&#060; Prev Month </a>
        <a class="calendar_nav_link" href="{% url Report-Monthly next_date.year next_date.month %}">Next Month &#062;&#062;</a>
    </div>
    
</div>
{% endblock %}
