{% extends 'base.html' %}

{% block content %}

<h1>Specific Report</h1>

<h2>{{ description }}</h2>
<table class="report_results">
    <tr>
        <th>Name</th>
        <th>Punch Clock Locale</th>
        <th>In time</th>
        <th>Out time</th>
        <th>Hours Worked</th>
        <th>Note</th>
    </tr>

    {% for shift in shifts %}
    <tr>
        <td>{{ shift.person }} </td>
        <td>{{ shift.in_clock.location }}</td>
        <td>{{ shift.intime }} </td>
        <td>{{ shift.outtime}} </td>
        <td>{{ shift.length }} </td>
        <td>{{ shift.shiftnote}}</td>

    </tr>
    {% endfor %}

</table>
{% endblock %}
