{% extends "base.html" %}

{% block content %}

<h1>Clock-in and out</h1>

<h2>Welcome 
<span class="user_name"> 
{% if user.first_name %}
    {{ user.first_name }}!
{% else %}
    {{ user }}</span>!
{% endif %}

</h2>

{% if errors %}
    <p class="highlight">
        Please correct the error {{ form.errors|pluralize }} below.
    </p>
{% endif %}


<form style="text-align: center;" action="" method="post">{% csrf_token %}
    <label for="shiftnote">Notes about your shift:</label><br />
    {{ form.shiftnote }}
    <br />
    <input type="submit" id="submit_button" value="Clock {{ in_or_out }}!" />
</form>

{% endblock %}
