{% extends 'base.html' %}
{% block content %}
	<h1>Consult the Oracles</h1>
    <div>	
		<form id='oracle_search' action='/oracles/search/' method='get'>
    		<input id='oracle_search_bar' type='text' name='q' />
    		<input type='submit' value='search' />
		</form>
	</div>
	
	<div id='pythia_block'>
        <h3><a href='/pythia/'>Pythia (Wiki)</a></h3>
        {% for page in pages %}
        <p><a href='/pythia/{{page.slug}}/'>{{page.name}}</a></p>
        {% endfor %}
		<form method='get' action='/pythia/create_page?/'>
    		<input type='submit' value='Create A Page' />
		</form>
	</div>
	
	<div id='delphi_block'>
        <h3><a href='/delphi/'>Delphi (Knowledge Base)</a></h3>
        {% for question in questions %}
        <p><a href='/delphi/{{question.id}}/'>{{question.question}}</a></p>
        {% endfor %}
		<form method='get' action='/delphi/create/'>
    		<input type='submit' value='Ask A Question' />
		</form>
	</div>
{% endblock %}
