/*
Color Scheme: 
Dark Blue: rgb (70, 50, 140)
Light Blue/Grey: (131, 129, 140)
Green: (62, 86, 38)
Light Green: (73, 101, 40)
Greyish: (65, 66, 71)
*/

/* Elements */

body {
    font-family: Helvetica,Arial,sans-serif;
    background: rgba(75, 75, 75, 1);
	color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
	font-weight: normal;
}

h1 {
    font-size: 5em;
    text-align: center;
	color: rgb(119, 199, 247);
}

h2 {
    font-size: 4em;
    text-align: center;
}

h3 {
    font-size: 3em;
    text-align: center;
}

table {
    margin: auto;
}

form {
	text-align: center;
	margin-top: 50px;
}

th, td {
    padding: .2em .5em;
}

th {
    text-align: left;
}

tr:nth-child(even) {background: rgba(70,50,140,.1);}
tr:nth-child(odd) { background: rgba(70,50,140,.75); color: snow;}

tr:first-child { 
    color: white; 
    background-color: rgba(70,50,140,1) ;
}

/* Classes */

/*#chronos_nav li {
    list-style: none;
    font-size: 3em;
    padding: .25em;
}*/

/*#chronos_nav a {
    text-decoration: none;
    padding: .1em;
}*/

/*#chronos_nav a:hover {
    background: blue;
    color: white;
}*/

.seps {
    font-size: 2em;
}

#navbar, #chronos_nav {
	background-color: rgba(200, 200, 200, .5);
	font-size: 15pt;
	padding: 0px;
}

.nav, #chronos_nav ul {
    text-align: center;
    padding: 10px;
}

#chronos_nav {
    background-color: rgba(200,200,200, .25);
    margin-top: 0;
}

.nav li, #chronos_nav ul li {
    display: inline;
}

.nav li:before, #chronos_nav ul li:before {
    content:" | ";
}

.nav li:first-child:before, #chronos_nav ul li:first-child:before {
    content: "";
}

.user_name, .bug_sug {
    color: rgba(252,138,69,1);
}

/* IDs */

#submit_button {
    font-size: 16pt;
	font-family: Helvetica,Arial,sans-serif;
	padding: 5px;
}

#content {
    margin: 1em;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

textarea {
	border: 5px solid grey;
	padding: 5px;
	margin-top: 10px;
	
}

label {
	font-size: 16pt;
}

/*
Calendar CSS
*/

#calendar {
    width: 75em;
    margin: auto;
}

#calendar tr:first-child {
    background-color: #0D4F7F;
    font-size: 3.0em;
}

#calendar tr:nth-child(2) {
    background-color: #132127;
    font-size: 1em;
}

#calendar th.month, #calendar tr:nth-child(2) th{
    height: 2em;
}

#calendar .first{
    background-color: #384246;
    border: .3em solid #387AA2;
}

#calendar .second{
    background-color: #0F3A55;
    border: .3em solid #FFFFFF;
}

#calendar .first.filled{
    background-color: #999999;
}

#calendar .second.filled{
    background-color: #3F86B9;
}

#calendar .today{
    border: .3em solid #B70C0C;
}

#calendar .noday{
    background-color: white;
}

#calendar th, #calendar td{
    padding: .5em;
    border: .2em solid white;
    height: 7em;
    width: 7em;
    vertical-align: text-top;
}

#calendar strong{
    font-size: 1.5em;
}

#calendar strong.hours{
    color:black;
}

#calendar_nav {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
}

.calendar_nav_link{
    border: .2em solid white;
    margin-left: 2em;
    margin-right: 2em;
    padding: 1em;
    width: 4em;
}

#calendar_key{
    float: left;
    width: 10em;
}

.key{
    width: 5em;
    text-align: center;
    padding: 10px;
    margin: auto;
}
