{% extends "base.html" %}

{% block content %}
<div class="section">
    <h1>Schedule</h1>
    <h2>Available Shifts</h2>
</div>

<hr class="separator"/>

<div class="form_box">
    <a href="/schedule/">Click here to go back</a>
{% if shifts %}
    <table>
        <tbody>
                <tr>
                    <th>Day</th>
                    <th>Scheduled in</th>
                    <th>Scheduled out</th>
                    <th>Location</th>
                </tr>
                {% for shift in shifts %}
                <tr>
                    <td>{{shift.day}}</td>
                    <td>{{shift.scheduled_in}}</td>
                    <td>{{shift.scheduled_out}}</td>
                    <td>{{shift.location}}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
{% else %}

<div class="section">
    <h2>{{message}}</h2>
</div>
{% endif %}


{% endblock %}


