{% extends "base.html" %}

{% block pageJS %}
<script type="text/javascript" src="/static/js/jquery.tools.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.ui.timepicker.js"></script>
<script type="text/javascript" src="/static/js/schedule.js"></script>

{% endblock %}
{% block content %}
<div class="section">
    <h1>Schedule</h1>
    <h2>Create a schedule!</h2>
</div>

<hr class="separator"/>

<div class="form_box">
    <a href="/schedule/">Click here to go back</a>

    <form action="" method="post" id="create_daily_schedule">{% csrf_token %}
        <label class="input_label">
            <strong>These are default shifts that will be used during the timeperiod. They will help build a base schedule.</strong>
        </label>
        
        <label class="input_label">
            <strong>Select a timeperiod</strong>
            {{ form.timeperiods }}
        </label>

        <strong>Select location</strong>
        {{ form.location }}

        <input id='create' type="submit" value="Submit"/>
        <input type="hidden" value="next" value="{{next}}"/>
    </form>
</div>

<div id="schedule" class="{{schedule_class}}">
        <div class="schedule_toolbar">
            <form>
                <p>
                    <strong>Time Period:</strong>
                    <span class="timeperiod">{{timeperiod}}</span>
                </p>
                <p>
                    <strong>Location:</strong>
                    <span class="location">{{location}}</span>
                </p>

                {% if can_edit_schedule %}
                    <button id="save_hours" type="button">Save</button>
                {% endif %}
            </form>
        </div>

        <div class="schedule_status hidden">
        </div>
        <div id='shift_types' class='hidden'>
            {% for type in Shift_Types %}
                <div id={{type.name}}>
                    {% for user in type.users %}
                        <div class={{type.name}}>{{user}}</div> 
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    <div class="head">Base Schedule</div>
    <div id='base_schedule'>
        <ul class="tabs base">
            {% for day in days %}
                <li><a href="#{{day}}1"><span>{{day}}</span></a></li>
            {% endfor %}

        </ul>
        <div class="tab_container_base tab_container">

            {% for grid in base_schedule %}
                <div id={{grid.day}}1 class="tab_content_base">
                    <div class="day_header">{{grid.day}}</div>
                    <div class="schedule_grid"> 
                        {% for times in grid.times %}
                            <div class="schedule_row">
                                <div class="schedule_row_hours">{{times.time}}</div>

                                {% for elem in times.row  %}
                                    <div class="schedule_row_content {{elem.class}}">{{elem.name}}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>


            {% endfor %}

        </div>
    </div> 
    <div class="head">Default Schedule</div> 
    <div id='default_schedule'>
        <ul class="tabs default">
            {% for day in days %}
                <li><a href="#{{day}}"><span>{{day}}</span></a></li>
            {% endfor %}

        </ul>
        <div class="tab_container_default tab_container">

            {% for grid in schedule %}
                <div id={{grid.day}} class="tab_content_default">
                    <div class="day_header">{{grid.day}}</div>
                    {% if can_edit_schedule %}
                        <div class="hours_toolbar">
                            <form>
                                <div>
                                    <strong>Action:</strong>
                                    <input id='remove' type="checkbox" /><span id='remove_box'>Remove</span>
                                    <input id='add_replace' type="checkbox"/><span id='add_box'>Add/Replace</span>
                                    <span id='add_person'>employee:
                                    <select class="add_person"></select></span>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    <div class="schedule_grid"> 
                        {% for times in grid.times %}
                            <div class="schedule_row">
                                <div class="schedule_row_hours">{{times.time}}</div>

                                {% for elem in times.row  %}
                                    <div class="schedule_row_content {{elem.class}}">{% if elem.user %}{{elem.user}}{% endif %}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>


            {% endfor %}

        </div>
    </div>

</div>
{% if message %}

<div class="section">
    <h2>{{message}}</h2>
</div>
{% endif %}

{% endblock %}

