{% extends "base.html" %}

{% block content %}
<div class="section">
    <h1>Schedule</h1>
    <h2>Below is a list of options regarding scheduling.</h2>

    <h2>This part of the site is still under construction (Alpha stage).</h2>
</div>

<hr class="separator"/>

<div class="time_period_box">
    <div class="form_box">
        <div class="section">
            <h2>Timeperiod availability</h2>
        </div>
        {% if timeperiod_stats %}
        <table>
            <tbody>
                <tr>
                    <th>Time Period</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Availability</th>
                </tr>
                {% for timeperiod in timeperiod_stats %}
                <tr>
                    <td>{{timeperiod.timeperiod}}</td>
                    <td>{{timeperiod.start_date}}</td>
                    <td>{{timeperiod.end_date}}</td>
                    <td>{{timeperiod.count}} can work this time period.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="section">
            <h2>{{message}}</h2>
        </div>
        {% endif %}
        
        <ul>
            <li><a href="{% url Schedule-View_Shifts %}">View Scheduled Shifts</a></li>
            <li><a href="{% url Schedule-View_Avail %}">View Available Shifts</a></li>
        </ul>


   </div>
</div>

{% endblock %}

