{% extends "base.html" %}

{% block content %}
<div class="section">
    <h1>Schedule</h1>
    <h2>Welcome to the schedule home page.</h2>
</div>

<hr class="separator"/>
<div class="normal_box">
    <ul id="schedule_options">
        <li>
            <a class="schedule_option" href="{% url Schedule-View_Timeperiods %}"><div class="option_title">Timeperiods</div>View timeperiods</a>
        </li>
        <li style='display: none;'>
            <a class="schedule_option" href="{% url Schedule-Create_Schedule %}"><div class="option_title">Create Schedule</div>View Schedule</a>
        </li>
    </ul>
</div>

{% endblock %}

