{% extends "base.html" %}

{% block content %}
<div class="section">
    <h1>Schedule</h1>
    <h2>Below is a list of options regarding scheduling.</h2>

    <h2>This part of the site is still under construction (Alpha stage).</h2>
</div>

<hr class="separator"/>

<div class="time_period_box">
    <div class="form_box">
        <!--<div class="section">
            <h1>Select options</h1>
        </div>-->
        <table>
            <tbody>
                <tr>
                    <th>Time Period</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Availability</th>
                </tr>
                {% for timeperiod in timeperiod_stats %}
                <tr>
                    <td>{{timeperiod.timeperiod}}</td>
                    <td>{{timeperiod.start_date}}</td>
                    <td>{{timeperiod.end_date}}</td>
                    <td>{{timeperiod.count}} can work this time period.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <form action="" method='post' id="schedule_chooser">{% csrf_token %}
            <label class="input_label">
                <strong>Select a day to view its schedule.</strong>
                {{ form.day }}
            </label>

            <input type="submit" value="Submit"/>
            <input type="hidden" value="next" value="{{next}}"/>

        </form>

   </div>
</div>

{% if shifts %}
    <strong>Viewing the created schedule for {{day}}</strong>
    <table>
        <tbody>
                <tr>
                    <th>Person</th>
                    <th>Day</th>
                    <th>Scheduled in</th>
                    <th>Scheduled out</th>
                    <th>Location</th>
                </tr>
                {% for shift in shifts %}
                <tr>
                    <td>{{shift.person}}</td>
                    <td>{{shift.day}}</td>
                    <td>{{shift.scheduled_in}}</td>
                    <td>{{shift.scheduled_out}}</td>
                    <td>{{shift.location}}</td>
                </tr>
                {% endfor %}

        </tbody>
    </table>
{% endif %}

{% endblock %}

