{% extends "base.html" %}

{% block pageJS %}
<script type="text/javascript">
    $(function(){
        $('#id_day').datepicker();
    });
</script>
{% endblock %}

{% block content %}
<div class="section">
    <h1>Schedule</h1>
    <h2>Scheduled work shifts</h2>
</div>

<hr class="separator"/>
<div id="calendar">
</div>
<div class="form_box">
    <a href="/schedule/">Click here to go back</a>
    <form action="" method='post' id="schedule_chooser">{% csrf_token %}
        <strong>Select Day</strong>
        {{ form.day }}

        <br/><br/>
        <strong>Select Location</strong>
        {{ form.location }}
        <input type="submit" value="Go!"/>
        <!--
        <input type="button" value="< Prev"/>
        <input type="button" value="Next >" />
        -->

    </form>
</div>

{% if shifts %}
<div id="schedule">
    <table> 
        <tr class="date">
            <th colspan="{{rowlength}}">{{day}}</th>
        </tr>
        <tr class="location">
            <th colspan="{{rowlength}}">{{location}}</th>
        </tr>
        <tr class="users">
            <th>Time</th>
            {% for person in people %}
                <th class="user">{{person}}</th>
            {% endfor %}
        </tr>

        {% for shift in shifts %}
        <tr class="{{shift.class}}">
            <td class="time">{{shift.time}}</td>
            {% for person in shift.people %}
                {% if person %}
                    <td class="content filled">{{person}}</td>
                {% else %}
                    <td class="content empty"></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

    <!--
    <input type="submit" value="Save!" id="save"/>
    <input type="reset" value="Reset!"/>
    -->

{% else %}
    <div class="section">
        <h2>{{message}}</h2>
    </div>
{% endif %}



{% endblock %}


