{% extends "base.html" %}

{% block content %}
<div class="section">
    <h1>Schedule</h1>
    <h2>Scheduled work shifts</h2>

    <h2>This part of the site is still under construction (Alpha stage).</h2>
</div>

<hr class="separator"/>
<div class="form_box">
    <a href="/schedule/">Click here to go back</a>
    <form action="" method='post' id="schedule_chooser">{% csrf_token %}
            <label class="input_label">
            <strong>Select a day to view its schedule.</strong>
            {{ form.day }}
        </label>

        <input type="submit" value="Submit"/>
        <input type="hidden" value="next" value="{{next}}"/>

    </form>

{% if shifts %}
    <table>
        <tbody>
                <tr>
                    <th>Person</th>
                    <th>Day</th>
                    <th>Scheduled in</th>
                    <th>Scheduled out</th>
                    <th>Location</th>
                </tr>
                {% for shift in shifts %}
                <tr>
                    <td>{{shift.person}}</td>
                    <td>{{shift.day}}</td>
                    <td>{{shift.scheduled_in}}</td>
                    <td>{{shift.scheduled_out}}</td>
                    <td>{{shift.location}}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
{% else %}

<div class="section">
    <h2>{{message}}</h2>
</div>
{% endif %}


{% endblock %}


