{% extends "base.html" %}



{% block pageJS %}


<script type="text/javascript">
    $(function() {
        $('#id_date').datepicker();
        // Javascript associated with tabs.
        $(".tab_content").hide();
        $("ul.tabs li:first").addClass("active").show(); //Activate first tab
        $(".tab_content:first").show(); //Show first tab content
 
        //On Click Event
        $("ul.tabs li").click(function() {
            $("ul.tabs li").removeClass("active"); //Remove any "active" class
            $(this).addClass("active"); //Add "active" class to selected tab
            $(".tab_content").hide(); //Hide all tab content
            var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
            $(activeTab).show();
            return false;
        });
    });
</script>

<script type="text/javascript" src="/static/js/timeperiod.js"></script>
{% endblock %}

{% block content %}
<div class="section">
    <h1>Schedule</h1>
    <h2>Below are timeperiods and any data associated with them.</h2>
    <a href="/schedule/">Click here to go back</a>
</div>

<ul class="tabs">
    <li><a href="#view_timeperiods">Timeperiod data</a></li>
    <li><a href="#edit_timeperiod">Edit available timeperiods</a></li>
</ul>

<div class="tab_container">

    <div id="view_timeperiods" class="tab_content">
        {% if timeperiod_stats %}
            <table id="timeperiod_table" class="regular_table">
                <tr>
                    <td>Name</td>
                    <td>Total</td>
                </tr>
                {% for timeperiod in timeperiod_stats %}
                <tr class="timeperiod_selector" title="{{timeperiod.slug}}">
                    <td>{{timeperiod.timeperiod}}</td>
                    <td>{{timeperiod.count}} can work this timeperiod.</td>
                </tr>
                {% endfor %}
            </table>

            <div id="timeperiod_info" class="hidden">
                <div id="timeperiod_heading">
                    <div id="timeperiod_title"></div>
                    <div id="timeperiod_date"></div>
                </div>
                <div id="timeperiod_details">
                    <strong>Total: </strong><p id="timeperiod_total"></p>
                    <div id="people_label" class="hidden">
                        <strong>People:</strong>
                        <ul id="timeperiod_people_list">
                        </ul>
                    </div>
                </div>
            </div>

        {% else %}
            <div class="section">
                <h2>{{message}}</h2>
            </div>
        {% endif %}
    </div>

    <div id="edit_timeperiod" class="tab_content">
        <div class="form_box">
            <form action="" method='post' enctype="multipart/form-data">{% csrf_token %}
                {% for field in form.visible_fields %}
                    <label class="input_label">
                        <strong>{{field.label_tag}}</strong>
                        <p>{{field.help_text}}</p>
                    </label>
                    {{field}}
                {% endfor %}
                <input type="submit" value="Save" />
            </form>
        </div>
    </div>

</div>
{% endblock %}
