{% extends 'base.html' %}
{% block content %}
{% if create_page %}
<h1>Create Page:</h1>
{% else %}
<h1>Edit Page:</h1>
{% endif %}
{% if page_exists %}
<h2>{{page_name}} already exists.  If you're evil and meant for this to happen, edit below</h2>
{% endif %}
<form method="post" action="/pythia/{{slug}}/edit/">{% csrf_token %}
    Title:
    <input type='text' name='page_name' value="{{page_name}}"/>
    <p>Content:</p>
    <textarea name="content" rows="20" cols=100">{{content}}</textarea><br/>
    <p>Tag this page:</p>
    {% for tag in tags %}
    <input type='checkbox' name='tags' value='{{tag}}' {% if tag in current_tags %} checked {% endif %} /> {{tag}} <br />
    {% endfor %}
    need a new tag?
    <input type='text' name='tags'/>
    <p>Revision Notes:</p>
	<textarea name="notes" rows="2" cols="100" maxlength="200">{{revision_message}}</textarea>
    <input type="submit" value="Save Page"/>
</form>
<form action='/oracles/upload_image/' method='get' target='_new'>
    need to embed screenshots?
    <input type='submit' value='upload' />
    <a href='{% url view_all_screenshots %}' target='_blank'>view uploaded photos</a>
</form>
{% endblock %}
