{% extends 'base.html' %}
{% load markup %}
{% block content %}
<h2>Revision History for /{{name}}</h2>
{% if current_revision %}
<div class='revision_history'>
    <h3>Current revision by {{current_revision.user}} on {{current_revision.date}}</h3>
    <p><strong>{{current_revision.notes}}</strong></p>
    <div>
        <div class='revision_diff'>
            <p><strong>Changes (diff)</strong></p>
            {{current_revision.diff|safe}}
        </div>
        <p><strong>current content</strong></p>
        <div class='wiki_page'>
            {{current_revision.revised_text|markdown}}
        </div>
    </div>
</div>
{% if revision_history %}
{% if can_edit_revisions %}
<form action="/pythia/{{slug}}/select_revision/" method='post'>{% csrf_token %}
{% endif %}
{% for revision in revision_history %}
<div class='revision_history'>
    <h3>past revision by {{revision.user}} on {{revision.date}}</h3>
    <p><strong>{{revision.notes}}</strong></p>
    <div>
        <div class='revision_diff'>
            <p><strong>Changes (diff)</strong></p>
            {{revision.diff|safe}}
        </div>
        {% if can_edit_revisions %}
        <input type='radio' name='id' value='{{revision.id}}' />select this revision to publish
        {% endif%}
        <p><strong>post-revision content</strong></p>
        <div class='wiki_page'>
            {{revision.revised_text|markdown}}
        </div>
    </div>
</div>
{% endfor %}
{% if can_edit_revisions %}
<input type='submit' value='publish selected revision'/>
</form>
{% endif %}
{% endif %}
{% else %}
<h3>No revision history for {{name}}</h3>
{% endif %}
{% endblock %}
