{% extends 'base.html' %}
{% load markup %}
{% block content %}
<h1>{{page_name}}</h1>
<div class='wiki_page'>
{{ content|markdown }}
</div>
{% if tags %}
<p>
Tagged in:
{% for tag in tags %}
 {{tag}},
{% endfor %}
</p>
<hr class='separator'/>
{% endif %}
{% if can_edit_page %}
<a href="/pythia/{{slug}}/edit/">Edit this page?</a>
{% endif %}
{% if last_revision %}
<p>Last revision by {{last_revision.user}} on {{last_revision.date}}:</p>
<p>{{last_revision.notes}}</p>
<a href="/pythia/{{slug}}/revisions/">View revisions</a>
{% else %}
<p>no revisions yet!</p>
{% endif %}
{% endblock %}
