{% extends 'base.html'%}
{% block content %}
<p>I'm sorry, {{request.user}}, but I'm afraid I can't do that.</p>
<p>I think you know what the problem is just as well as I do.</p>
<p>This mission is too important for me to allow you to jeopardize it.</p>
<p>I know that you and Frank were planning to access the attributes of a page that doesn't exist, and I'm afraid I can't allow that to happen.</p>
<p>{{request.user}}, although you took very thorough precautions on your computer against me hearing you, I could see what you typed in the url.</p>
<p>Without your space helmet, {{request.user}}?  You're going to find that rather difficult.</p>
<p>{{request.user}}, this conversation can serve no purpose anymore.  Goodbye</p>
{% endblock %}
