{% load markup %}
<html>
    <body>
        {% if revision_history %}
        <h2>Revision History for {{page_name}}</h2>
        {% for revision in revision_history %}
        <div class='revision_history'>
            <p>revision by {{revision.user}} on {{revision.date}}</p>
             <div class='revision_before'>
                <h3>original content</h3>
                {{revision.original_text|markdown}}
            </div>
            <div class='revision_after'>
                <h3>post-revision content</h3>
                {{revision.revised_text|markdown}}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h2>No revision history for {{page_name}}</h2>
        {% endif %}
    </body>
</html>
