{% extends 'base.html' %}

{% load markup %}
{% block content %}
{% if revision_history %}
<h2>Revision History for /{{name}}</h2>
{% for revision in revision_history %}
<div class='revision_history'>
    <h3>revision by {{revision.user}} on {{revision.date}}</h3>
    <p><strong>{{revision.notes}}</strong></p>
    <div>
        <div class='revision_diff'>
            <p><strong>Changes (diff)</strong></p>
            {{revision.diff|markdown}}
        </div>
        <div class='revision_after'>
            <p><strong>post-revision content</strong></p>
            {{revision.revised_text|markdown}}
            <form action="/wiki/{{name}}/select_revision/" method='post'>{% csrf_token %}
                <input type='text' name='id' style='display:none' value='{{revision.id}}'/>
                <input type='submit' value='publish this revision'/>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<h2>No revision history for {{name}}</h2>
{% endif %}
{% endblock %}
