#calendar {
    width: 85em;
    margin: auto;
    margin-top: 1em;
}

#calendar tr:first-child {
    background-color: @calendarHead;
    font-size: 2.0em;
}

#calendar tr:nth-child(2) {
    background-color: @calendarDays;
    font-size: 1em;
}

#calendar th.month, #calendar tr:nth-child(2) th{
    height: 2em;
    border-top: 1px solid black;
}

#calendar .first{
    background-color: @firstPayPeriod;
}

#calendar .second{
    background-color: @secondPayPeriod;
    /*border: .3em solid #FFFFFF;*/
}

#calendar .first.filled{
    background-color: @firstPayPeriodFilled;
}

#calendar .second.filled{
    background-color: @secondPayPeriodFilled;
}

#calendar .today{
    border: .2em solid @todayBorder;
}

#calendar .noday{
    background-color: white;
    border: none;
    border-top: 1px solid #DDDDDD;
}

#calendar th, #calendar td{
    padding: .5em;
    border-left: 1px solid white;
    border-top: 1px solid white;
    height: 5em;
    width: 5em;
    vertical-align: text-top;
}


.month{
    margin: .55em 0 0;
}

#calendar p{
    font-size: .9em;
}
#calendar strong.hours{
    color:black;
}

#calendar_nav {

    margin: 3em auto;
    text-align: center;
    width: 50%;
}

.calendar_nav_link{
    border: .2em solid white;
    margin-left: 2em;
    margin-right: 2em;
    padding: 1em;
    width: 4em;
}

#calendar_key{
    padding: 15px;
    border: 1px solid @grayLight;
    margin: 0 12px 0;
    float: left;
    width: 12em;
}

#calendar_key p, #calendar_key legend{
    font-weight: bold;
}

#calendar_key p{
    font-size: 11pt;
}

#calendar_key legend{
    font-size: 14pt;
}

.key{
    width: 5em;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.separator{
    height: .3em;
    background-color: white;
}


