#footer {
    background-color: @footerBackground;
    overflow: hidden;
    color: @white;
    margin-top: 2em;
    width: 100%;
    position: relative;
    margin-top: -@footerHeight;
    height: @footerHeight;
    clear: both;


    dl {
        font-size: 10pt;
        margin: auto;
        overflow: hidden;
    }
    dd {
        float: left;
    }
    dt {
        float: left;
        clear: both;
        width: 6em;
    }
    h2 {
        font-size: 10px;
        padding-left: 4em;
    }
    div {
        width: 21%;
        float: left;
        margin: 1em 6%;
    }
}
