#footer {
    background-color: @footerBackground;
    overflow: hidden;
    color: @white;
    margin-top: 2em;
    dl {
        font-size: 10pt;
    }
    dd {
        float: right;
    }
    dt {
        float: left;
        clear: both;
    }
    h2 {
        font-size: 10px;
        text-align: center;
    }
    div {
        width: 20%;
        float: left;
        margin: 1em 6%;
    }
}
