strong {
    font-weight: bold;
}

.search_result {
    margin-left: 1.5em;
    margin-bottom: 10px;
    padding-left: .5em;
    border-left: 2px solid @border;
}

#search_params {
    overflow: hidden;
    clear: both;
    > li {
        float: left;    
        padding-right: 2em;
    }
}

#question {
    margin-bottom: 2em;
    .indented(@text);
}

#wiki_page {
    margin-bottom: 2em;
    .indented(@text);
}
