@dropdownBackground:        #463a63;
@baseLineHeight:            1em;
@dropdownLinkColor:         #FFFFFF;
@dropdownLinkColorHover:    #999;
@zindexDropdown:            1050;

@headerBackground:   #463a63;
@navBackground: #37ade2;

@footerBackground: #606163;

@tableOddBackground: #fff;
@tableEvenBackground: #e0e0e0; 

@dividerHeight: 1px;
@dividerColor: #FFFFFF;

@lightHover: #999;
@darkHover: #999;

@calendarHead: @white;
@calendarDays: @grayLighter;
@firstPayPeriod: @grayLight;
@firstPayPeriodFilled: @gray;
@secondPayPeriod: @blue; 
@secondPayPeriodFilled: @blueDark;
@todayBorder: @red;

//Colors
@black: #000;
@grayDarker: #222;
@grayDark: #333;
@gray: #555;
@grayLight: #c0c0c0;
@grayLighter: #eee;
@white: #fff;

@blue: #049cdb;
@blueDark: #0064cd;
@green: #46a546;
@red: #9d261d;
@yellow: #ffc40d;
@orange: #f89406;
@pink: #c3325f;
@purple: #7a43b6;
