/*
Color Scheme: 
Dark Blue: rgb (70, 50, 140)
Light Blue/Grey: (131, 129, 140)
Green: (62, 86, 38)
Light Green: (73, 101, 40)
Greyish: (65, 66, 71)
*/

/* Elements */

body {
    font: 81.25%/1 Helvetica,Arial,sans-serif;
    background: rgba(75, 75, 75, 1);
    color: white;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
	font-weight: normal;
}

h1 {
    font-size: 5em;
	color: rgb(119, 199, 247);
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}

table {
    margin: auto;
}

form {
    margin-top: 2em;
    text-align: left;
}

th, td {
    padding: .2em .5em;
}

th {
    text-align: left;
}

tr:nth-child(even) {background: rgba(70,50,140,.1);}
tr:nth-child(odd) {background: rgba(70,50,140,.75); color: snow;}

tr:first-child {
    color: white;
    background-color: rgba(70,50,140,1) ;
}

.timeperiod_selector, #timeperiod_info {color: black;}

.ui-datepicker-calendar tbody tr,
.ui-datepicker-calendar thead tr {
    background: #616D7E;
}

/* Classes */

/*#chronos_nav li {
    list-style: none;
    font-size: 3em;
    padding: .25em;
}*/

/*#chronos_nav a {
    text-decoration: none;
    padding: .1em;
}*/

/*#chronos_nav a:hover {
    background: blue;
    color: white;
}*/

.seps {
    font-size: 2em;
}
.active_tab{
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    background-color: #4B4B4B;
}

.nonactive_tab{
    border: 1px solid #616D7E;
    border-bottom: none;
    border-top: none;
}

.nav a{
    padding: 1em 1em .8em;
}

#navbar, #chronos_nav {
	background-color: #616D7E;
    border-bottom: 1px solid #616D7E;
	font-size: 12pt;
    margin-bottom: 1em;
    width: 100%;
}

.nav, #chronos_nav ul {
    text-align: center;
    margin-top: 0;
    margin-bottom: .85em;
}

#chronos_nav {
    background-color: #616D7E;
    margin-top: 0;
}

.nav li, #chronos_nav ul li {
    float: left;
}

img#pic {
    height: 35px; 
}

li#navpic {
    margin-top: -10px;
}

li#navpic a {
    margin: 0px;
    padding-left: 16px;
    padding-right: 0px;
    padding-bottom: 1px;
    padding-top: 27px;
}

li#profilelink {
    padding-left: 0em;
}

li.rightsidenav {
    float: right;
}

/*
#navbar, #chronos_nav {
	background-color: rgba(200, 200, 200, .5);
	font-size: 15pt;
	padding: 0px;
}

.nav, #chronos_nav ul {
    text-align: center;
    padding: 10px;
}

#chronos_nav {
    background-color: rgba(200,200,200, .25);
    margin-top: 0;
}

.nav li, #chronos_nav ul li {
    display: inline;
}

.nav li:before, #chronos_nav ul li:before {
    content:" | ";
}

.nav li:first-child:before, #chronos_nav ul li:first-child:before {
    content: "";
}
*/
.user_name, .bug_sug {
    color: rgba(252,138,69,1);
}

/* IDs */

#submit_button {
    font-size: 16pt;
	font-family: Helvetica,Arial,sans-serif;
	padding: 5px;
}

#content {
    padding: 0;
    max-width: 1000px;
    min-width: 780px;
    margin: auto;
    margin-bottom: 2em;
    overflow: hidden;
}
#clock_in_or_out{
    font-size: 3em;
    color: #DD4B39;
}

#clock_in_or_out:hover {
    color: #4D90FE;
    text-decoration: underline;
}
a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

textarea {
	border: 5px solid grey;
	padding: 5px;
	margin-top: 10px;
	
}


/* Log-in CSS (used for dev purposes, but could be used for future log-in forms)*/
#login_box{
    float: right;
    width: 335px;
}

#create_profile_box, .time_period_box{
    width: 650px;
    margin: auto;
}

.time_period_box td{
    color: black;
}

.normal_box{
    background: none repeat scroll 0 0 rgba(200, 200, 200, 0.5);
    padding: 20px 25px 15px;
    border: 1px solid #E5E5E5;
    margin: 12px 0 0;
    width: 650px;
    color: black;
}

.form_box{
    background: none repeat scroll 0 0 #F5F5F5;
    padding: 20px 25px 15px;
    border: 1px;
    color: black;
}

.form_box strong, .form_box p{
    color:black;
}

.form_box a{
    font-size: 15pt;
    color:black;
}

form .input_label{
    color: black;
    display: block;
    margin: 0 0 1.5em;
}

form label strong{
    font-size: 11pt;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
}

form input[type="submit"]{
    background-color: #4D90FE;
    color: #FFFFFF;
    border: 1px solid #3079ED;
    height: 32px;
    font-weight: bold;
    padding: 0 8px;
    width: 6em;
}


form input[type="text"], form input[type="password"]{
    height: 32px;
    border: 1px solid #C0C0C0;
    padding-left: 8px;
}




.form_box h2{
    font-size: 16px;
    text-align: left;
    color: black;
}

#login_info h1{
    color: #DD4B39;
    font-size: 25px;
    text-align: left;
}

#login_info h2{
    font-size: 16px;
    text-align: left;
    margin: 0.4em 0 0; 
}

ul{
    padding: 1em;
    line-height: 17px;
    list-style: none outside none;
}


#login_info li{
    margin: 3px 0 2em;
}

.section{
    margin-bottom: 1.5em;
}

.section h1{
    font-size: 25px;
}

.section h2{
    font-size: 16px;
    margin: 0.4em 0 0;
}

#people {
    float: left;
}

/*
Profile CSS
May have to place in its own css file for easier future editing.
*/
#user_profile{
    font-size: 14px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    padding: 2em;
    margin: auto;
    width: 960px;
    font-weight: bold;
}

#user_profile #photo_box{
    float: left;
    padding: 1em;
    margin: 1em;
}

#photo_chooser{
    clear: both;
    padding: 10px 0px 10px 0px;
}

#user_profile p{
    margin-top: 0;
    margin-bottom: .5em;
}


#user_profile img{
    max-width: 17em;
    max-height: 17em;
    float: left;
}

#user_profile .profile_section{

    margin-bottom: 1em;
}

.section_title{
    color: #DD4B39;
    font-size: 15pt;
    text-align: left;
}

#profile_info{
    padding: 1em;
    overflow: hidden;
    border-left: 2px solid #EBEBEB;
}

.profile_info_section{
    padding: 10px 0;    
    overflow: hidden;
}

.profile_info_section:hover {
    background-color: #000000;

}

.profile_info_section_title{
    width: 110px;
}

.profile_info_section_info{
    width: 100px;

}
.profile_info_section h1{
    font-size: 15px;
    width: 110px;
    text-align: right;
    float: left;
    font-weight: bold;
    color: #FFFFFF;
}

.profile_info_section h2{
    font-size: 15px;
    width: 382px;
    display: inline-block;
    text-align: left;
    margin-left: 1.5em;
}

#user_name{
    font-size: 1.8em;
}

.review_field {
    margin: 2.5em 1em 1em;
    display: block;
}

.review_field ul{
    display: block;
    padding: 1em;
}

.review_field li{
    float: left;
    margin-right: 1em;
}

.review_field textarea{
    display: block;
}

.review_score_table{
    margin: 0;
    border-color: #EFF2F6 #EFF2F6 #BFCCD9;
    border-style: solid;
    border-width: 1px 1px 2px;
    border-collapse: collapse;
    font-size: 1.1em;
    color: black;
}

.review_score_table thead {
    font-weight: bold;
    color: white;
}

.review_selector:hover {
    color: yellow;

}

.review_score_table tbody td:first-child {
    background: none repeat scroll 0 0 #DFE6EC;
    border-bottom: 1px solid white;
    color: #555555;
    font-weight: bold;
}

.review_score_table tbody td {
    border: 1px solid #DFE6EC;
    padding: .5em;
}

#view_reviews {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E5E5E5;
    padding: 20px 25px 15px;
    color: black;
}

.review_other_scores p, .review_other_scores ul{
    margin: 0;
}

.review_other_scores li{
    float: none;
}

.urgent_message {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(20,20,20,0.5);
    border: 2px solid red;
    padding: 1em;
}
/*
Calendar CSS
*/

#calendar {
    width: 85em;
    margin: auto;
    margin-top: 1em;
}

#calendar tr:first-child {
    background-color: #0D4F7F;
    font-size: 2.0em;
}

#calendar tr:nth-child(2) {
    background-color: #132127;
    font-size: 1em;
}

#calendar th.month, #calendar tr:nth-child(2) th{
    height: 2em;
}

#calendar .first{
    background-color: #384246;
}

#calendar .second{
    background-color: #0F3A55;
    /*border: .3em solid #FFFFFF;*/
}

#calendar .first.filled{
    background-color: #999999;
}

#calendar .second.filled{
    background-color: #3F86B9;
}

#calendar .today{
    border: .2em solid #B70C0C;
}

#calendar .noday{
    background-color: white;
    border: none;
    border-top: 1px solid #DDDDDD;
}

#calendar th, #calendar td{
    padding: .5em;
    border-left: 1px solid white;
    border-top: 1px solid white;
    height: 5em;
    width: 5em;
    vertical-align: text-top;
}


.month{
    margin: .55em 0 0;
}

#calendar p{
    font-size: .9em;    
}
#calendar strong.hours{
    color:black;
}

#calendar_nav {

    margin: 3em auto; 
    text-align: center;
    width: 50%;
}

.calendar_nav_link{
    border: .2em solid white;
    margin-left: 2em;
    margin-right: 2em;
    padding: 1em;
    width: 4em;
}

#calendar_key{
    padding: 15px;
    border: 1px solid #E5E5E5;
    margin: 0 12px 0;
    float: left;
    width: 12em;
}

#calendar_key p, #calendar_key legend{
    font-weight: bold;
}

#calendar_key p{
    font-size: 11pt;
}

#calendar_key legend{
    font-size: 14pt;
}

.key{
    width: 5em;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.separator{
    height: .3em;
    background-color: white;
}


/*
Schedule CSS 
*/

#schedule{
    margin-top: 1em;
}

#schedule table{
    border: 1px solid #DDDDDD;    
    margin: 0;
}

#schedule td{
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

#schedule .filled{
    background-color: #0F3A55;
    border: 1px solid white;
}

#schedule .date{
    height: 2em;
    font-size: 2em;
}

#schedule .users{
    font-size: 1em;
}

#schedule .time{
    width: 5em;
}

#schedule .row{
    height: 3em;
}

#schedule .content{
    width: 10em;
}

#schedule .now{
    border-left: 1px solid red;
}

#schedule_options{
    margin: 2em;
}

#schedule_options a{
    display: block;
    border: 1px solid black;
    padding: 1.5em;
    color: black;
    background-color: #F5F5F5;
}

#schedule_options a{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(20,20,20,0.5);
}

#schedule_options li{
    padding: 3px;
    margin: 1em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#schedule_options li:hover {
    background-color: #46328C;
}
#schedule_options a:hover {
    border: 1px solid #46328C;
    text-decoration: none;
}

.option_title{
    font-size: 20px;
    float: left;
    margin-right: 2em;
    width: 5em;
}

.option_description{
    font-size: 12px;
    float: right;
    margin-right: 2em;
    width: 6em;
}
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px; /*--Set height of tabs--*/
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}
ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px; /*--Subtract 1px from the height of the unordered list--*/
    line-height: 31px; /*--Vertically aligns the text within the tab--*/
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px; /*--Pull the list item down 1px--*/
    overflow: hidden;
    position: relative;
    background: #e0e0e0;
}
ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
    outline: none;
}
ul.tabs li a:hover {
    background: #ccc;
}

html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
    background: #fff;
    border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
    border: 1px solid #999;
    border-top: none;
    overflow: hidden;
    clear: both;
    float: left; width: 100%;
    background: #BABABA;
}

.hidden{
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.timeperiod_selector:hover, .review_selector:hover {
    cursor: pointer;
}
#timeperiod_info, #review_info {
    margin: 1em;
}

#timeperiod_heading, #review_heading {
    border-top: 1px solid #DD4B39;
    border-left: 10px solid #DD4B39;
    padding: 10px;
}

#timeperiod_title, #review_title{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3px;
}
.review_section{
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 3px;
}

#timeperiod_details, #review_details{
    margin-left: 2em;
}

#timeperiod_info ul{
    margin: 0;
}

#timeperiod_info strong{
    float: left;
    margin-right: 3px;
}

#edit_timeperiod .form_box {
    background-color: #BABABA;
}

.past_shifts p{
    color: rgb(150,150,150);
}

.tooltips{
    font-style: italic;
    color: rgb(75,75,75);
}

#review_scores_comments p, .tooltips {
    margin-left: 30px;
}
