<!DOCTYPE html>
<html>
<head>
<title>Labgeeks RPG</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="ico" type="image/x-icon" href="/static/favicon.ico" id="uwfavicon" >
{% load labgeeksrpg_extras %}
<link rel="stylesheet/less" type="text/css" href="/static/css/main.less" >
<style>@import url("/static/css/pepper-grinder/jquery-ui-1.8.16.custom.css");</style>
<style>@import url("/static/css/ui-lightness/jquery-ui-1.8.16.custom.css");</style>
<script src="/static/js/less.js" type="text/javascript"></script>
{% block pageCSS %}
{% endblock %}
<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.ui.timepicker.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>
{% block pageJS %}
{% endblock %}
</head>
<body>
<div id="wrapper">
{% include "nav.html" %}
<div id="content">
{% block content %}
{% endblock %}
</div>
</div>
{% include "footer.html" %}
</body>
</html>
