<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
    "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<title>Labgeeks RPG</title>
<link rel="ico" type="image/x-icon" href="/static/favicon.ico" id="uwfavicon" />
{% load labgeeksrpg_extras %}
<style>@import url("/static/main.css");</style>
<style>@import url("/static/css/pepper-grinder/jquery-ui-1.8.16.custom.css");</style>
<style>@import url("/static/css/ui-lightness/jquery-ui-1.8.16.custom.css");</style>
{% block pageCSS %}
{% endblock %}
<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
{% block pageJS %}
{% endblock %}
</head>
<body>
{% include "nav.html" %}
<div id="content">
{% block content %}
{% endblock %}
</div>
</body>
</html>
