{% extends 'base.html' %}

{% block pageJS %}
<script type="text/javascript">
    $(function() {
        $('#id_due_date').datepicker();
    });
</script>
{% endblock%}

{% block content %}
    <div id="login_info">
            <h1>Dashboard</h1>
            <h2>Hello {{request.user.first_name}}</h2>

        {% if locations %}
            {% for location in locations %}
                <h3>You are clocked <span id="in">IN</span></h3>
                <h2>@{{location.name}}, {{clockin_time}}</h2>
            {% endfor %}
        {% else %}
            <h3>You are clocked <span id="out">OUT</span></h3>
        {% endif %}

    {%if events or alerts %}
        {% if can_Add %}
        <form method="post" action=""> {% csrf_token %}
        {% endif %}

        {% if events %}
            <div id="events">
            <h3>Events</h3>
            {% for event in events %}
                <div class="notification">
                    <h2>{% if can_Add %}<input type="checkbox" name="pk" value="{{event.pk}}">{% endif %}
                    {{event.due_date.month}}/{{event.due_date.day}} {{event.title}} </h2>
                    {% if event.user%}
                        <p class="info"> {{event.user}} posted on {{event.date}} </p>
                    {% else %}
                        <p class="info"> Labgeeks posted on {{event.date}} </p>
                    {% endif %}
                    <p> {{event.content}} </p>
                    <p> Due on {{event.due_date}}</p>
                </div>
            {% endfor %}
            </div>
        {% endif %}

        {% if alerts %}
            <div id="alerts">
                <h3>Alerts</h3>
                {% for alert in alerts %}
                    <div class="notification">
                        <h2>{% if can_Add %}<input type="checkbox" name="pk" value="{{alert.pk}}">{% endif %}{{alert.title}} </h2>
                        {% if alert.user%}
                            <p class="info"> {{alert.user}} posted on {{alert.date}} </p>
                        {% else %}
                            <p class="info"> Labgeeks posted on {{alert.date}} </p>
                        {% endif %}
                        <p> {{alert.content}} </p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    {% if events or alerts %}
        {% if can_Add %}
            <input type="submit" value="Archive" />
            </form>
        {% endif %}
    {% endif %}

    {% if can_Add%}
        <h3>Post Alert or Event</h3>
        <div id="addNotification">
            <form method="post" action="">{% csrf_token %}
                <label class="input_label">
                    <strong>Title
                    {% if not form_is_valid %}
                        <span class="required">*</span></strong>
                    {% else %}
                        </strong>
                    {% endif %}
                    {{ form.title }}
                </label>
                <label class="input_label">
                    <strong>Content</strong>
                    {{form.content}}
                </label>
                <label class="input_label">
                    <strong>Due Date</strong>
                    <p class="info">Add a due date to create an event</p>
                    {{form.due_date}}
                </label>
                {% if not form_is_valid %}
                    <p class="required">This field is required.</p>
                {% endif %}
                <input type="submit" value="Submit"/>
            </form>
        </div>
    {% endif %}

    {% if today_past_shifts or today_future_shifts %}
        <h2>Your shifts for today are:</h2>
        {%for shift in today_past_shifts%}
            <span class='past_shifts'><p>From {{shift.scheduled_in.time}} to {{shift.scheduled_out.time}} at {{shift.location}}</p></span>
        {% endfor %}
        {%for shift in today_future_shifts%}
            <span><p>From {{shift.scheduled_in.time}} to {{shift.scheduled_out.time}} at {{shift.location}}</p></span>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
