{% extends 'base.html' %}

{% block content %}

    {% if not request.user.is_authenticated %}
        <div id="login_box">
            <div class="form_box">
                <a href="/login">Log-in</a>    
            </div>
        </div>
    {% endif %}
    <div id="login_info">
        <div class="section">
            <h1>
            {% if request.user.is_authenticated %}Hello {{request.user}}. {% else %}Labgeeks{% endif %}
            </h1>

            <h2>Greetings. {% if not request.user.is_authenticated %}Please log in.{% endif %}</h2> 
        </div>

        <p>Welcome to Labgeeks, a staff and work shift management site.</p>
        <h2>This is the dashboard!</h2>
    </div>
    

{% endblock %}
