{% extends 'base.html' %}

{% block content %}
    <div id="login_info">
        <div class="section">
            <h1>Dashboard</h1>
            <h2>Hello {{request.user.first_name}}</h2>
        </div>
        <p>Welcome to Labgeeks, a staff and work shift management site.</p>

        {% if locations %}
            {% for location in locations %}
                <h2>You are clocked in at {{location.name}} at {{clockin_time}}</h2>
            {% endfor %}
        {% else %}
            <h2>You are not clocked in.</h2>
        {% endif %}

        <form method="post" action="">
            <table id="notification_form">{{form}}</table>
            <input type="submit" value="Submit"/>
        </form>

        {% if notifications %}
            {% for notification in notifications %}
                <p> {{notification.title}} </p>
                <p> Posted On {{notification.date}} </p>
                <p> {{notification.content}} </p>
            {% endfor %}
        {% endif %}

        {% if today_past_shifts or today_future_shifts %}
            <h2>Your shifts for today are:</h2>
            {%for shift in today_past_shifts%}
                <span class='past_shifts'><p>From {{shift.scheduled_in.time}} to {{shift.scheduled_out.time}} at {{shift.location}}</p></span>
            {% endfor %}
            {%for shift in today_future_shifts%}
                <span><p>From {{shift.scheduled_in.time}} to {{shift.scheduled_out.time}} at {{shift.location}}</p></span>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
