<div id="footer"><div>
    <div>
        <h2>//Contact Numbers</h2>
        <dl>
            <dt>Help desk:</dt>
            <dd>555-555-5555</dd>

            <dt>Catalyst:</dt>
            <dd>555-555-5555</dd>

            <dt>Manager:</dt>
            <dd>555-555-5555</dd>
        </dl>
    </div>
    <div>
        <h2>//Email Info</h2>
        <dl>
            <dt>Info Name:</dt>
            <dd><a href="#">name@uw.edu</a></dd>

            <dt>Info Name:</dt>
            <dd><a href="#">name@uw.edu</a></dd>

            <dt>Info Name:</dt>
            <dd><a href="#">name@uw.edu</a></dd>
        </dl>
    </div>
    <div>
        <h2>//Quick Links</h2>
        <dl>
            <dt>Library:</dt>
            <dd><a hef="http://lib.washington.edu/" target="_blank">www.lib.washington.edu</a></dd>

            <dt>Other:</dt>
            <dd><a href="#">www.other.link.edu</a></dd>

            <dt>Other:</dt>
            <dd><a href="#">www.other.link.edu</a></dd>
        </dl>
    </div>
</div></div>
