<div id="footer">
    <div>
        <h2>//Contact Numbers</h2>
        <dl>
            <dt>Help desk:</dt>
            <dd>555-555-5555</dd>

            <dt>Catalyst:</dt>
            <dd>555-555-5555</dd>

            <dt>Manager:</dt>
            <dd>555-555-5555</dd>
        </dl>
    </div>
    <div>
        <h2>//Email Info</h2>
        <dl>
            <dt>Info Name:</dt>
            <dd>name@uw.edu</dd>

            <dt>Info Name:</dt>
            <dd>name@uw.edu</dd>

            <dt>Info Name:</dt>
            <dd>name@uw.edu</dd>
        </dl>
    </div>
    <div>
        <h2>//Contact Numbers</h2>
        <dl>
            <dt>Help desk:</dt>
            <dd>555-555-5555</dd>

            <dt>Catalyst:</dt>
            <dd>555-555-5555</dd>

            <dt>Manager:</dt>
            <dd>555-555-5555</dd>
        </dl>
    </div>
</div>
