{% extends 'base.html' %}

{% block content %}
{% if form.errors %}
    <p class="required">Please correct the error{{ form.errors|pluralize }} below.</p>
    {% for key,value in form.errors.items %}
        <p class="required">The {{key}} field is required.</p>
    {% endfor %}
{% endif %}

    <div id="login_box">
        <div class="form_box">

            <h2>Log in</h2>
            <form action="" method="post">{% csrf_token %}

                <label class="input_label">
                    <strong>Username</strong>
                    {{ form.username }}
                </label>

                <label class="input_label">
                    <strong>Password</strong>
                    {{ form.password}}
                </label>
                <input id="login_button" type="submit" value="Log in"/>
                <input type="hidden" name="next" value="{{next}}"/>
            </form>
        </div>
    </div>
    <div id="login_info">
        <div class="section">
            <h1>
            {% if request.user.is_authenticated %}Hello {{request.user}}. {% else %}Labgeeks{% endif %}
            </h1>

            <h2>Greetings. Please log in.</h2>
        </div>

        <p>
        Welcome to Labgeeks, a staff and work shift management site. Labgeeks offers the following features:
        </p>

        <ul>
            <li>
                <h2>Punchclock system</h2>
                <p>Clock in and out of your shifts for accurate times.</p>
            </li>

            <li>
                <h2>Timesheets and shift histories</h2>
                <p>For easy comparasons between UW's timesheet and for history logs.</p>    
            </li>

            <li>
                <h2>User profiles</h2>
                <p>Create a user profile and view other profiles for easy staff directories.</p>
            </li>
        </ul>
    
    </div>


{% endblock %}
