{% load labgeeksrpg_extras %}

<div id="navbar">
    <div id="header">
        <h1>Labgeeks 2.0</h1>
        <div class="dropdown">
            {% if request.user.is_authenticated %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{ request.user }}@uw.edu <b class="caret"></b>
            </a>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                <li><a tabindex="-1" href="/people/{{ request.user }}">Profile</a></li>
                {% if request.user.is_staff %}
                <li><a tabindex="-1" href="/chronos/report">Report</a></li>
                    <li><a tabindex="-1" href="/admin">Administrator</a></li>
                {% endif %}
                <li class="divider"></li>
                <li><a tabindex="-1" href="/logout">Sign Out</a></li>
            </ul>
            {% else %}
            <a href="/login">Sign In</a>
            {% endif %}
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <div class="nav">
        <ul>
            <li class="{% active_tab request "/" %}"> <a href="/">Home</a></li>
            <li class="{% active_tab request "/chronos" %}"><a href="/chronos">Chronos</a></li>
            {% if request.user.is_staff %}
                <li class="{% active_tab request "/schedule" %}"><a href="/schedule">Schedule</a></li>
            <li class="{% active_tab request "/chronos/report" %}"><a href="/chronos/report">Reports</a>{% endif %}
            <li class="{% active_tab request "/people" %}"><a href="/people">People</a></li>
            <li class="{% active_tab request "/oracles" %}"><a href="/oracles">Consult the Oracles</a></li>
            <!--<li><a class="bug_sug" href="http://trac.eplt.washington.edu/labgeeks4/newticket">Bugs + Feedback</a></li>-->
        </ul>
        <form id='search' action='/oracles/search/' method='get' style='float:right'>
            <input type='text' name='q' />
            <input type='submit' value='search' />
        </form>

    </div>
    {% endif %}
</div>
