{% extends 'base.html' %}
{% load markup %}
{% block content %}
<h1>{{question}}</h1>
<div id="question">
    <p class="info">asked by {{author}} on {{date}}:</p>
    {{more_info|markdown}}
</div>

{% if can_select_answer and answers or best_answer %}
<form action='select_answer/' method='get'>
{% endif %}

{% if best_answer %}
<strong>Best solutions as chosen by leads:</strong>
{% for b_answer in best_answer %}
<div class="notification">
    {{b_answer.answer|markdown}}
    <p class="info">submitted by {{b_answer.user}} on {{b_answer.date}}</p>
    {% if can_select_answer %}
    <input type='checkbox' name='id' value='{{b_answer.id}}' checked />
    mark as best answer
    {% endif %}
</div>
{% endfor %}

{% else %}
    {% if answers %}
    <strong>no best solution chosen yet</strong>
    {% endif %}
{% endif %}

{% if answers %}

<p><strong>other solutions:</strong></p>
{% for answer in answers %}
<div class="notification">
    {{answer.answer|markdown}}
    <p class="info">submitted by {{answer.user}} on {{answer.date}}</p>
    {% if can_select_answer %}
    <input type='checkbox' name='id' value='{{answer.id}}' />
    mark as best answer
    {% endif %}
</div>
{% endfor %}
{% endif %}
{% if can_select_answer and answers or best_answer %}
<input type='submit' value='update best answers' />
</form>
{% endif %}
{% if not answers %}
<p><strong>no 
{% if best_answer %}
other 
{% endif %}
answers yet</strong></p>
{% endif %}
{% if can_answer %}
<form action='answer/' method='get'>
    <input type='submit' value='Answer this question' />
</form>
{% endif %}
{% endblock %}
