{% extends 'base.html' %}

{% block pageJS %}
<script type="text/javascript">
    $(function() {
            $('#id_grad_date').datepicker();
    });
</script>
{% endblock %}

{% block content %}
<div class="section">
    <h1>Hello {{this_user}}.</h1>
    <h2>{{message}}</h2>
</div>
<div id="create_profile_box">
    <div class="form_box">
        <form action="" method='post' id="create_user_profile" enctype="multipart/form-data">{% csrf_token %}
            
            <label class="input_label">
                <strong>Staff Photo</strong>
                {{ form.staff_photo }}
            </label>

            <label class="input_label">
                <strong>Call me by</strong>
                {{ form.call_me_by }}
            </label>

            <label class="input_label">
                <strong>Working periods (Highlight the periods you can work)</strong>
                <p>Hold down "Control", or "Command" on a Mac, to select more than one.</p>
                {{ form.working_periods }}
            
            </label>

            <label class="input_label">
                <strong>Graduation Date</strong>
                {{ form.grad_date }}
            </label>

            <label class="input_label">
                <strong>Phone</strong>
                {{ form.phone}}
            </label>

            <label class="input_label">
                <strong>Alt Phone</strong>
                {{ form.alt_phone }}
            </label>

            <label class="input_label">
                <strong>Office</strong>
                {{ form.office }}
            </label>

            <label class="input_label">
                <strong>About me</strong>
                {{ form.about_me}}
            </label>

            <input type="submit" value="Submit"/>
            <input type="hidden" name="next" value="{{next}}"/>
        </form>
    </div>
</div>
{% endblock %}
