{% extends 'base.html' %}

{% block content %}
    <div class="section">
        <h1>People List</h1>
        <h2>Below is the list of employees.</h2>
    </div>
    
    <table id="people">
    <tbody>
        <tr>
            <th>Employee</th>
            <th>Profile</th>
            <th>Timesheet</th>
        </tr>
    {% for user in users %}
        <tr>
            <td>{{user}}</td>
            <td><a href="{% url People-View_Profile user %}">Profile</a></td>
            <td><a href="{% url People-View_Timesheet user %}">Timesheet</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>


{% endblock %}
