{% extends 'base.html' %}

{% block pageJS %}
<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function() 
    { 
        $(".people").tablesorter(
            {
                cssAsc: 'headerSortUp',
                cssDesc: 'headerSortDown',
                cssHeader: 'header',
                headers: { 4: { sorter: false}, 5: {sorter: false}, 6: {sorter: false} },
            }
        ); 
    } 
);
</script>
{% endblock %}

{% block content %}
    <div class="section">
        <h1>Employee List</h1>
    </div>
    
    {% for group in group_list %}
    
    <div class="group_section">
        <h2>{{group.group_name}}</h2>
        <table class="people">
            <thead>
                <tr>
                    <th><a href='#'>First Name</a></th>
                    <th><a href='#'>Last Name</a></th>
                    <th><a href='#'>NetID</a></th>
                    <th><a href='#'>Title</a></th>
                    <th></th>
                    <th></th>
                    {% if can_add_review %}<th></th>{% endif %}
                </tr>
            </thead>
            <tbody>
            {% for user in group.users %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user }}</td>
                    <td>{{ user.get_profile.title }}</td>
                    <td><a href="{% url People-View_Profile user %}"><i class="icon-user"></i><span class="long">Profile</span></a></td>
                    <td><a href="{% url Personal-Timesheet user %}"><i class="icon-list-alt"></i><span class="long">Timesheet</span></a></td>
                    {% if can_add_review%}<td><a href="{% url People-Edit_Reviews user %}"><i class="icon-pencil"></i><span class="long">Create/Edit Review</span></a></td>{% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
    

{% endblock %}
