{% extends 'base.html' %}

{% block pageJS %}
{% if profile.staff_photo and profile.badge_photo %}
<script type="text/javascript">
$(document).ready(function() {
    $('#profile_p').click(function() {
        $('#photo').attr('src', '{{ profile.staff_photo.url }}');
    });
    $('#badge_p').click(function() {
        $('#photo').attr('src', '{{ profile.badge_photo.url }}');
    });
});
</script>
{% endif %}
{% endblock %}

{% block content %}

{% if profile %}
<div id="user_profile">
    <div id="photo_box">
        {% if profile.staff_photo %}
        <img id="photo" src="{{profile.staff_photo.url}}" alt="Profile Picture"/>
        {% else %}
        {% if profile.badge_photo %}
        <img id="photo" src="{{profile.badge_photo.url}}" alt="Profile Picture"/>
        {% endif %}
        {% endif %}
        {% if profile.staff_photo and profile.badge_photo %}
        <div id="photo_chooser"><a id="profile_p" href='#'>Profile</a> | <a id="badge_p" href='#'>Official</a></div>
        {% endif %}
    </div>

    <div id="profile_info">
        <div class="profile_section">
            <p id="user_name">{{profile.user}} {% if profile.call_me_by%} ({{profile.call_me_by}}){% endif %}</p>
            {% if edit %}<strong><a href="{% url People-Create_Profile profile.user %}">Click here to edit this profile</a></strong>{% endif %}
        </div>

        <div id="work_status" class="profile_section" >
            <h1 class="section_title">Work info</h1>
            <div class="profile_info_section">
                <h1>Title</h1>
                <h2>{{profile.title}}</h2>
            </div>

            <div class="profile_info_section">
                <h1>Status</h1>
                <h2>{{profile.status}}</h2>
            </div>

            <div class="profile_info_section">
                <h1>Office</h1>
                <h2>{{profile.office}}</h2>
            </div>

            <div class="profile_info_section">
                <h1>Supervisor</h1>
                <h2>{{profile.supervisor}}</h2>
            </div>
        </div>

        <div id="work_contact" class="profile_section">
            <h1 class="section_title">Contact info</h1>
            <div class="profile_info_section">
                <h1>Phone</h1>
                <h2>{{profile.phone}}</h2>
            </div>

            <div class="profile_info_section">
                <h1>Alt Phone</h1>
                <h2>{{profile.alt_phone}}</h2>
            </div>
        </div>
    
        <div id="work_dates" class="profile_section">
            <h1 class="section_title">Dates of hire</h1>
            <div class="profile_info_section">
                <h1>Starting Date</h1>
                <h2>{{profile.start_date}}</h2>
            </div>

            <div class="profile_info_section">
                <h1>Ending Date</h1>
                <h2>{{profile.end_date}}</h2>
            </div>

            <div class="profile_info_section">
                <h1>Graduation Date</h1>
                <h2>{{profile.grad_date}}</h2>
            </div>
        </div>

        <div id="personal_info" class="profile_section">
            <h1 class="section_title">Personal info</h1>
            <div class="profile_info_section">
                <h1>About me</h1>
                <h2>{{profile.about_me}}</h2>
            </div>
        </div>
    </div>
</div>





{% endif %}
{% endblock %}

