{% extends 'base.html' %}

{% block pageJS %}
<script type="text/javascript">
    $(function() {
            $('#id_date').datepicker();
            // Javascript associated with tabs.
            $(".tab_content").hide();
            $("ul.tabs li:first").addClass("active").show(); //Activate first tab
            $(".tab_content:first").show(); //Show first tab content

            //On Click Event
            $("ul.tabs li").click(function() {
                $("ul.tabs li").removeClass("active"); //Remove any "active" class
                $(this).addClass("active"); //Add "active" class to selected tab
                $(".tab_content").hide(); //Hide all tab content
                var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
                $(activeTab).show();
                return false;
            });
    });

</script>
<script type="text/javascript" src="/static/js/review.js"></script>
{% endblock %}

{% block content %}
<div class="section">
    <h1>Hello {{this_user}}.</h1>
    <h2></h2>
</div>

<hr class="separator"/>

{% if can_add_review %}

<ul class="tabs">
    <li><a href="#view_reviews"><span>View</span></a></li>
    <li><a href="#create_review"><span>Edit | Create</span></a></li>
</ul>


<div class="tab_container">
    
    {% include "view_reviews.html" %}
    
    <div id="create_review" class="tab_content">
        <div id="normal_box">
            <div class="form_box">
                <form action="" method='post' enctype="multipart/form-data">{% csrf_token %}
                    {% if recent_message %}
                        <strong>{{recent_message}}</strong>
                    {% endif %}
                        
                    <div class="review_field">
                        {% if badge_photo %}
                            <img src="{{badge_photo}}" alt="badge_photo" class="photo"/> 
                        {% endif %}
                        <strong>User:</strong> {{user}}
                    </div>

                    {% for field in form_fields %}
                        <div class="review_field">
                            <strong>{{field.label_tag}}</strong>
                            <p>{{field.help_text}}</p>
                            {% if field.stats %}
                            <p>Lead's other scores:</p>
                                <ul class="other_scores">
                                {% for stat in field.stats %}
                                    <li>{{stat.value}} - {{stat.reviewer}}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {{field.field}}
                        </div>
                    {% endfor %}

                    <input type="submit" value="Save"/>
                    <input type="hidden" name="next" value="{{next}}"/>
                </form>
            </div>
        </div>
    </div>
</div>

{% else %}
{% include "view_reviews.html" %}
{% endif %}
{% endblock %}
