{% extends 'base.html' %}

{% block pageJS %}
<script type="text/javascript" src="/static/js/review.js"></script>
{% endblock %}

{% block content %}
<div class="section">
    <h1>Reviews for {{user}}</h1>
</div>

<hr class="separator"/>

{% if can_add_review %}

{% if final_reviewer %}
<p><a href="/people/{{user}}/view_reviews/">View finalized reviews for {{user}}</a></p>
<hr class='separator' />
{% endif %}

<div class="tab_container">
    <div id="create_review" class="tab_content">
        <div class="form_box">
            <form action="" method='post' enctype="multipart/form-data">{% csrf_token %}
                {% if recent_message %}
                <div class="urgent_message">
                    <strong>{{recent_message}}</strong>
                </div>
                {% endif %}
                    
                <div class="review_field">
                    {% if badge_photo %}
                        <img src="{{badge_photo}}" alt="badge_photo" class="photo"/> 
                    {% endif %}
                    <h2>Write a performance review for {{user}}<h2>
                </div>

                {% for field in form_fields %}
                    <div class="review_field">
                        <strong>{{field.label_tag}}</strong>
                        <p>{{field.help_text}}</p>

                        {% if field.stats %}
                        <div class="review_other_scores">
                            <p>{{field.stats_text}}</p>
                            <ul class='other_scores'>
                            {% for stat in field.stats %}
                                <li>{{stat.reviewer}}: {{stat.value}} - {{stat.comments}}</li>
                            {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <div class='review_field_list'>
                        {{field.field}}
                        </div>
                    </div>
                {% endfor %}


                <div id="is_final_message" class="urgent_message hidden notification">
                    <strong>The 'Is final' field has been checked.</strong>
                    <p>This review is ready to be finalized. Once saved, this review will be available to the user.</p>
                    <p>Please review your scores and comments before saving.</p>
                    {% for field in form2_fields %}
                    <div class='review_field'>
                        <strong>{{field.label_tag}}</strong>
                        <p>{{field.help_text}}</p>
                        {{field.field}}
                    </div>
                    {% endfor %}
                </div>

                <input type="submit" value="Save"/>
                <input type="hidden" name="next" value="{{next}}"/>
            </form>

        </div>
    </div>
</div>
{% endif %}
{% endblock %}
