{% block view_reviews %}
<div id="view_reviews" class="tab_content">
    {% if table_dict.scores %}
        <p><strong class="review_section">{{table_dict.user}}</strong></p>
        <table class="review_score_table">
            <thead>
            <tr>
                <td>Date</td>
                {% for info in table_dict.date %}
                <td class="review_selector" title="view details for this review" id="{{info.id}}">{{info.date}}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for key,scores in table_dict.scores.items %}
                <tr>
                    <td>{{key|capfirst}}</td>
                    {% for score in scores %}
                        <td>{{score}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr>
                    <td>Average</td>
                    {% for average in averages %}
                        <td>{{average}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Weighted Average</td>
                    {% for weight in weights %}
                        <td>{{weight}}</td>
                    {% endfor %}
                </tr>
            </tbody>
            <thead>
            <tr>
                <td></td>
                {% for info in table_dict.date %}
                <td class="review_selector" id="{{info.id}}">Details</td>
                {% endfor %}
            </tr>
        </table>

        <div id="review_info" class="hidden">
            <div id="review_heading">
                <div id="review_title"></div>
                <div id="review_date"></div>
            </div>
            <div id="review_details">
                <strong class="review_section">Scores and Comments:</strong>
                <ul id="review_scores_comments"></ul>
            </div>
        </div>

    {% else %}
        <p>No Reviews</p>
    {% endif %}
</div>

{% endblock %}
