{% block view_reviews %}
<div id="view_reviews" class="tab_content">
    {% if reviews %}
        <p><strong>{{table_dict.user}}</strong></p>
        <p><strong class="review_section">Scoring:</strong></p>
        <table class="review_score_table">
            <tr>
                <td>Date:</td>
                {% for info in table_dict.date %}
                <td class="review_selector" title="{{info.id}}">{{info.date}}</td>
                {% endfor %}
            </tr>
            {% for key,scores in table_dict.scores.items %}
            <tr>
                <td>{{key|capfirst}}:</td>
                {% for score in scores %}
                <td>{{score}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <div id="review_info" class="hidden">
            <div id="review_heading">
                <div id="review_title"></div>
                <div id="review_date"></div>
            </div>
            <div id="review_details">
                <strong class="review_section">Scoring:</strong>
                <ul id="review_scores">
                </ul>
                <strong class="review_section">Comments:</strong>
                <p id="review_comments"></p>
            </div>
        </div>

    {% else %}
        <p>No Reviews</p>
    {% endif %}
</div>

{% endblock %}
