{% extends "base.html" %}

{% block content %}
<h1>Player Detail</h1>
<h2>{{ p.uwnetid }}:</h2>
<p>{{ p.firstname }} {% if p.middlename %}{{ p.middlename }}{% endif %} {{ p.lastname }}</p>
{% if p.nickname %}<p>"{{ p.nickname }}"</p>{% endif %}
<p>HP: {{ p.hp }}</p>
<p>XP: {{ p.xp }}</p>
<p>$$: {{ p.currency }}</p>
<p>Status: {{ p.status }}</p>
<p>Started: {{ p.start_date }}</p>
<p>Graduated: {{ p.grad_date }}</p>
{% if p.end_date %}<p>Departed: {{ p.end_date  }}</p>{% endif %}
{% if p.location %}<p>Location: {{ p.location }}</p>{% endif %}
{% if p.about_me %}<p>About: {{ p.about_me }}</p>{% endif %}

<h3>Chat</h3>
{% if p.uw_gmail %}<p> UW GTalk: {{ p.uw_gmail }} </p>{% endif %}
{% if p.uw_windows_live %}<p> UW Windows Live{{ p.uw_windows_live }} </p>{% endif %}
{% if p.gmail %}<p> Gmail: {{ p.gmail }} </p>{% endif %}
{% if p.windows_live %}<p> Windows Live: {{ p.windows_live }} </p>{% endif %}
{% if p.ichat %}<p> iChat: {{ p.aim_iChat }} </p>{% endif %}
{% if p.irc_nick %}
<p> IRC Nick: {{ p.irc_nick }} </p>
<p> IRC Network: {{ p.irc_network }} </p>
{% endif %}
{% if p.skype %}<p> Skype: {{ p.skype }} </p>{% endif %}
{% if p.yahoo %}<p> Yahoo: {{ p.yahoo }} </p>{% endif %}


{% endblock %}
